:root {
  --color-primary: #4caf50;
  --color-secondary: #8bc34a;
  --color-accent: #2196f3;
  --color-background: #f5f5f5;
  --color-text: #333;
  font-family: "Poppins", sans-serif;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  background: lightsteelblue;
  border: 1px solid grey;
  border-radius: 5px;
  pointer-events: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("images/baggrund.jpg");
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
  overflow: hidden;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.result-container h1 {
  margin-bottom: 10px;
}

.result-container h2 {
  margin-top: 10px;
}

.result-container img {
  width: 800px;
  height: 700px;
  border-radius: 400px;
  object-fit: cover;
}

.map-container {
  flex-direction: row;
}

#explanation,
#question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px;
  font-size: 1.2rem;
}

#question-container {
  display: grid;
  place-items: center;
  border-radius: 10px;
  width: 100%;
  height: 200px;
  margin: 50px;
  margin-bottom: 0;
}
.map-container {
  flex: 0.7;
  display: flex;
  justify-content: right;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(224, 224, 224, 0);
  position: relative;
}

.country {
  fill: #81c784;
  stroke: transparent;
  stroke-width: 1;
  cursor: pointer;
}

.country:hover {
  fill: #66bb6a;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  font-size: 2rem;
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.quiz-box,
.additional-info-box {
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
  font-size: 1.5rem;
  border-radius: 20px;
  height: 45%;
  width: 65%;
  background-color: rgba(35, 68, 22, 0.4);
}

.intro-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-radius: 50px;
}

.quiz-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(35, 68, 22, 0.4);
  padding: 20px;
  margin: auto;
  font-size: 1rem;
  border-radius: 20px;
  height: 85vh;
  width: 50vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn,
.start-btn,
.next-btn,
.btn.answer-btn {
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  background: var(--color-primary);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: bold;
}

.btn:hover,
.start-btn:hover,
.next-btn:hover,
.btn.answer-btn:hover {
  background: var(--color-secondary);
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background: var(--color-text);
  color: var(--color-background);
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: var(--color-secondary);
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#answer-buttons button {
  flex: 0 0 auto;
  width: 100%;
  margin: 5px 10px;
  padding: 20px 50px;
  font-size: 1rem;
  border: 5px solid #ccc;
  border-color: #333;
}

.container.quiz-started {
  flex-direction: column;
}

#start-btn img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  vertical-align: middle;
}

.question-image {
  max-width: 100%;
  height: 50vh;
  display: block;
  border-radius: 50px;
  border: 5px solid#333;
  margin-bottom: 30px;
}

#next-btn img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  vertical-align: middle;
}

#back-to-index-btn img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  vertical-align: middle;
}

#results-btn img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  vertical-align: middle;
}

#start-btn img {
  height: 50px;
  width: 50px;
  margin-left: 20px;
  vertical-align: middle;
}

#chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.explanation-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.hide {
  display: none;
  visibility: hidden;
}

.result-container h1 {
  font-size: 2.5rem;
  color: var(--color-primary);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.result-container h2 {
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}
