:root {
  --color-primary: #4caf50; /* Bright Green */
  --color-secondary: #8bc34a; /* Lighter Green */
  --color-accent: #2196f3; /* Accent Blue */
  --color-background: #f5f5f5; /* Light Gray Background */
  --color-text: #333; /* Dark Gray Text */
  font-family: "Poppins", sans-serif;
}

.tooltip {
  position: absolute;
  text-align: center;
  padding: 8px;
  background: lightsteelblue;
  border: 1px solid grey;
  border-radius: 5px;
  pointer-events: none;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("images/baggrund.jpg");
  background-size: cover;
  background-position: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

html,
body {
  height: 100vh; /* Set the height to the full viewport height */
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling on the entire page */
}

.container {
  display: flex;
  flex-direction: row;
  max-height: 100vh; /* Ensure the container does not exceed the viewport height */
  overflow: hidden; /* Hide overflow to prevent scrolling */
  /* Remove or adjust padding and margin as necessary */
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.result-container h1 {
  /* Add any styles you need for h1 */
  margin-bottom: 10px; /* Adjust as needed for spacing between h1 and h2 */
}

.result-container h2 {
  /* Add any styles you need for h2 */
  margin-top: 10px; /* Adjust as needed for spacing between h1 and h2 */
}

.result-container img {
  /* Adjust the width and height properties to make the image bigger */
  width: 800px; /* Set the desired width */
  height: 700px; /* Set the desired height */
  border-radius: 400px;
  object-fit: cover; /* Adjust the object-fit property if needed */
}

.map-container {
  flex-direction: row;
}

#explanation,
#question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 20px;
  font-size: 1.2rem;
}

#question-container {
  display: grid;
  place-items: center; /* This shorthand property centers both horizontally and vertically */
  border-radius: 10px;
  width: 100%; /* Use 100% width for responsiveness */
  height: 200px;
  margin: 50px;
  margin-bottom: 0;
}
.map-container {
  flex: 0.7;
  /* overflow: hidden; */
  display: flex;
  justify-content: right;
  padding-left: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgba(224, 224, 224, 0); /* Juster gennemsigtigheden her */
  position: relative; /* Tilføjet: Position relative for at gøre det lettere at positionere map-header */
}

.country {
  fill: #81c784; /* Light Green */
  stroke: transparent;
  stroke-width: 1;
  cursor: pointer;
}

.country:hover {
  fill: #66bb6a; /* Darker Green on hover */
}

/* quiz.css */

.controls {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers children horizontally in a column flex container */
  justify-content: center;
  margin: 30px;
  font-size: 2rem;
}
.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center children */
  align-items: center; /* Horizontally center children */
  width: 50%; /* Adjust the width as needed */
  max-height: 100%;
  margin: 0 auto; /* This centers the container horizontally */
  overflow: hidden;
}

.quiz-box,
.additional-info-box {
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin: 20px auto; /* Center horizontally */
  font-size: 1.5rem;
  border-radius: 20px;
  height: 45%;
  width: 65%;
  background-color: rgba(35, 68, 22, 0.4); /* Adjusted for transparency */
}

.intro-image {
  display: flex;
  justify-content: center; /* Horizontally center the content (including image) */
  align-items: center; /* Vertically center the content (including image) */
  width: 100%; /* Adjust the width as needed */
  height: 100vh; /* Adjust the height as needed */
  overflow: hidden;
  border-radius: 50px;
}

.quiz-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(35, 68, 22, 0.4); /* Adjusted for transparency */
  padding: 20px;
  margin: auto;
  font-size: 1rem;
  border-radius: 20px;
  height: 85vh; /* Height set as a percentage of viewport height */
  width: 50vw; /* Width set as a percentage of viewport width */
  position: absolute; /* For absolute centering */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn,
.start-btn,
.next-btn,
.btn.answer-btn {
  padding: 12px 24px;
  border-radius: 25px;
  border: none;
  background: var(--color-primary);
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
  font-size: 1rem;
  font-weight: bold;
}

.btn:hover,
.start-btn:hover,
.next-btn:hover,
.btn.answer-btn:hover {
  background: var(--color-secondary);
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background: var(--color-text);
  color: var(--color-background);
  border: none;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
}

button:hover {
  background: var(--color-secondary);
}

#answer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#answer-buttons button {
  flex: 0 0 auto; /* Prevents buttons from growing or shrinking */
  width: 100%; /* Adjust the width as needed */
  margin: 5px 10px; /* Adds vertical spacing between buttons */
  padding: 20px 50px; /* Increases padding to make buttons larger */
  font-size: 1rem; /* Increases the font size */
  /* Additional styling for aesthetics */
  border: 5px solid #ccc; /* Example border */
  border-color: #333;
}

.container.quiz-started {
  flex-direction: column;
}

#start-btn img {
  height: 50px; /* Adjust the size as needed */
  width: 50px;
  margin-left: 20px; /* Adds space between the icon and the text */
  vertical-align: middle;
}

.question-image {
  max-width: 100%; /* Ensures the image is not wider than its container */
  height: 50vh; /* Maintains the aspect ratio of the image */
  display: block; /* Avoid inline behavior */
  border-radius: 50px; /* Optional: Rounds the corners of the image */
  border: 5px solid#333;
  margin-bottom: 30px;
}

#next-btn img {
  height: 50px; /* Adjust the size as needed */
  width: 50px;
  margin-left: 20px; /* Adds space between the icon and the text */
  vertical-align: middle;
}

#back-to-index-btn img {
  height: 50px; /* Adjust the size as needed */
  width: 50px;
  margin-left: 20px; /* Adds space between the icon and the text */
  vertical-align: middle;
}

#results-btn img {
  height: 50px; /* Adjust the size as needed */
  width: 50px;
  margin-left: 20px; /* Adds space between the icon and the text */
  vertical-align: middle;
}

#start-btn img {
  height: 50px; /* Adjust the size as needed */
  width: 50px;
  margin-left: 20px; /* Adds space between the icon and the text */
  vertical-align: middle;
}

#chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Adjust this to your needs */
}

.parent-container {
  /* The parent element of #chart-container */
  display: flex;
  justify-content: center; /* Centers horizontally in the flex container */
  align-items: center; /* Centers vertically in the flex container */
  height: 100%; /* Make sure the parent has a height for vertical centering to work */
}

.explanation-icon {
  width: 50px; /* or any other size */
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

.hide {
  display: none;
  visibility: hidden;
}

/* Style for h1 */
.result-container h1 {
  font-size: 2.5rem; /* Increase the font size */
  color: var(--color-primary); /* Set the text color to your desired color */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  margin-bottom: 20px; /* Adjust spacing as needed */
}

/* Style for h2 */
.result-container h2 {
  font-size: 1.5rem; /* Increase the font size */
  color: var(--color-secondary); /* Set the text color to your desired color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
  margin-top: 10px; /* Adjust spacing as needed */
}
